%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
	{parse_trans, "3.4.1"},
	{setup, "2.2.1"},
	{ra, "1.1.8"},
	{jobs, "0.10.0"},
	{jsx, "3.1.0"},
	{fast_yaml, "1.0.40"},
	{jesse, "1.8.2"},
	{regine, "1.1.0"},
	{cowboy, "2.14.2"},
	{prometheus, "6.1.2"},
	{prometheus_cowboy, "0.2.0"},
	{prometheus_diameter_collector, "1.2.1"},
	{riak_core, "0.10.0", {pkg, riak_core_lite}},
	{riak_core_lite_util, "0.1.2"},
	{xxhash, {git, "https://github.com/next-nf/erlang-xxhash.git", {ref, "92fcfe5"}}},
	{erlando, {git, "https://github.com/next-nf/erlando.git", {branch, "master"}}},
	{netdata, {git, "https://github.com/RoadRunnr/erl_netdata.git", {ref, "cbd6eaf"}}},
	{gtplib, {git, "https://github.com/travelping/gtplib.git", {tag, "4.1.0"}}},
	{pfcplib, {git, "https://github.com/next-nf/pfcplib.git", {branch, "master"}}},
	{ergw_aaa, {git, "https://github.com/next-nf/ergw_aaa.git", {branch, "master"}}},
	{zoneinfo, {git, "https://github.com/RoadRunnr/zoneinfo.git", {branch, "master"}}}
]}.

{minimum_otp_vsn, "26.2"}.

%% erlando lists pmod_transform as a dep but doesn't use it; the URL is dead (git://)
%% jesse 1.8.2 has a float-matching pattern that triggers a warning-as-error in OTP 27+
{overrides, [
    {override, erlando, [{deps, []}]},
    {override, jesse,   [{erl_opts, [debug_info]}]},
    {override, ra,      [{erl_opts, [{feature, maybe_expr, disable}, debug_info]}]}
]}.

{profiles, [
	    {test, [
		    {erl_opts, [nowarn_export_all]},
		    {deps, [{gun, "2.2.0"},
			    {meck, "1.1.1"},
			    {proper, "1.5.0"}
			   ]}
		   ]},
	    {simulator, [{extra_src_dirs, ["simulator"]},
			 {erl_opts, [{d, 'SIMULATOR'}]}
			]},
	    {prod,
	      [{relx, [{dev_mode, false},
		       {include_erts, true},
		       {include_src, false}
		      ]},
	       {deps, [
		       {recon, "2.5.6"},
		       {observer_cli, "1.8.7"}
		      ]}
	       ]}
	   ]}.

{relx, [{release, { 'ergw-c-node', semver },
	 [ergw, ergw_core,
	  sasl,
	  runtime_tools,
	  recon,
	  observer_cli]},
	{exclude_apps, [wx]},

	{sys_config, "./config/sys.config"},
	{vm_args, "./config/vm.args"},

	{dev_mode, true},
	{include_erts, false},

	{extended_start_script, true}
]}.

%% xref checks to run
{xref_checks, [locals_not_used, deprecated_function_calls,
	       exports_not_used, deprecated_functions]}.
{xref_queries,
 [{"(XC - UC) || (XU - X - B)", []}]}.

{dialyzer, [
    {plt_extra_apps, [cowlib]}
]}.

{ct_opts, [
  % Specify that Common Test should name a new private directory for each
  % test case, but leave it up to the tests to actually create the directories.
  {create_priv_dir, manual_per_tc}
]}.

%% == Cover ==
%% Whether to enable coverage reporting. Default is `false'
{cover_enabled, true}.

%% Whether to export coverage report to file. Default is `false'
{cover_export_enabled, true}.

%% == covervalls.io ==
{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "github"}.
{coveralls_parallel, true}.

%% development setting
{shell, [{config, "priv/dev.config"}]}.
